body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 5px 0;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.carousel-item img {
    width: 100%;
    height: auto;
}
.card-body p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    margin-bottom: 20px;
}