body {
    font-family: 'Noto Sans Thai', sans-serif;
    background-color: #ffffff;
}

.navbar {
    background-color: #ffffff;
}

.navbar-brand img {
    width: 100px;
    height: 80px;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    color: #00802084 !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #008020 !important;
}

.navbar-nav .nav-link.active {
    color: #008020 !important;
    border-bottom: 2px solid #008020
}

.navbar-nav .nav-link.login {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    color: #00802084 !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link.login:hover {
    color: #008020 !important;
}

footer {
    background-color: #f8f9fa;
    color: #6c757d;
}

footer p {
    margin: 0;
}

.container {
    margin-top: 20px;
}

.container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.nav-link {
    color: #6c757d;
    font-size: 1rem;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-link:hover {
    color: #6c757d;
}

.nav-link.active {
    color: #6c757d !important;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    .navbar-brand img {
        width: 80px;
        height: 60px;
    }

    footer ul.nav {
        flex-direction: column;
    }

    footer ul.nav .nav-item {
        margin-bottom: 10px;
    }

    .container h1 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    footer ul.nav {
        flex-direction: column;
        align-items: center;
    }
}

.navbar-brand img {
    max-width: 100px;
    height: auto;
}

.footer-logo img {
    max-width: 80px;
    height: auto;
}