img {
  width: 50px;
  cursor: pointer;
}

.btn-outline-secondary {
  width: 200px;
  height: 50px;
  color: #494949;
  border: 2px solid #6c757d;
  background-color: transparent;
  position: absolute; /* ใช้ตำแหน่ง absolute */
  top: 520px; /* ปรับตำแหน่งให้เหมาะสม */
  left: 1185px; /* ปรับตำแหน่งให้เหมาะสม */
  z-index: 10; /* z-index สูงกว่า */
}

.sub {
  font-size: 16px;
  padding: 10px;
  position: relative; 
  top: 100px; 
  left: 1200px; 
}
.rectangle {
  width: 500px;
  height: 180px;
  background: rgb(191, 236,202);
  position: absolute; 
  top: 100px; 
  left: 420px; 
  display: flex; 
  align-items: center;  
}

/* กรอบตัวหนังตรงกลางคำว่า screen */  
.screen {
  width: 410px; 
  height: 35px;
  border: 2px solid #156c06; 
  background-color: transparent;   
  position: absolute; 
  top: 460px; 
  left: 470px; 
  display: flex; 
  align-items: center;  
}

.menu {
  width: 360px; 
  height: 500px; 
  border: 1.5px solid #040958; 
  background-color: transparent; 
  position: absolute; 
  top: 100px; 
  left: 1070px; 
  display: flex; 
  align-items: center; 
  z-index: 5; /* z-index ต่ำกว่า */
}
/* ข้อความตรงกลางคำว่า screen */
.text {
  
  position: absolute; 
  top: 465px; 
  left: 650px; 
  display: flex; 
  align-items: center;
   
}
.Seattext {
  position: absolute; 
  top: 400px; 
  left: 540px; 
  display: flex; 
  align-items: center; 
  
}

.Seattext2 {
  position: absolute; 
  top: 400px; 
  left: 740px; 
  display: flex; 
  align-items: center; 
  
}
#totalPriceDisplay{
  position: absolute; 
  top: 120px; 
  left: -210px; 
  display: flex; 
  align-items: center; 
  color: #000000; 
  font-size: 1.9ch;
  font-family: "Noto Sans Thai", sans-serif;
}

#selectedSeats{
  position: absolute; 
  top: 160px; 
  left: -210px; 
  display: flex; 
  align-items: center;
  color: #000000; 
  font-size: 1.9ch;
  font-family: "Noto Sans Thai", sans-serif; 
}


.name_m{
  position: absolute; 
  top: 135px; 
  left: 640px; 
  display: flex; 
  align-items: center;
  color: #0c0c0c; 
  font-size: 1.9ch;
  font-family: "Noto Sans Thai", sans-serif;
}

.date_m{
  position: absolute; 
  top: 165px; 
  left: 640px; 
  display: flex; 
  align-items: center;
  color: #0d5602; 
  font-size: 1.5ch;
  font-family: "Noto Sans Thai", sans-serif;
}

.time_m{
  position: absolute; 
  top: 165px; 
  left: 730px; 
  display: flex; 
  align-items: center;
  color: #0d5602; 
  font-size: 1.5ch;
  font-family: "Noto Sans Thai", sans-serif;
}

.loca_m{
  position: absolute; 
  top: 230px; 
  left: 640px; 
  display: flex; 
  align-items: center;
  color: #000000; 
  font-size: 1.5ch;
  font-family: "Noto Sans Thai", sans-serif;
}

.map_m{
  position: absolute; 
  top: 210px; 
  left: 640px; 
  display: flex; 
  align-items: center;
  color: #0d5602; 
  font-size: 1.5ch;
  font-family: "Noto Sans Thai", sans-serif;
}



.name_m2{
  position: absolute; 
  top: 140px; 
  left: 1100px; 
  display: flex; 
  align-items: center;
  color: #0c0c0c; 
  font-size: 3ch;
  font-family: "Noto Sans Thai", sans-serif;
  z-index: 6;
}

.date_m2{
  position: absolute; 
  top: 190px; 
  left: 1100px; 
  display: flex; 
  align-items: center;
  color: #050505; 
  font-size: 1.9ch;
  font-family: "Noto Sans Thai", sans-serif;
  z-index: 6;
}
  
  .date_m2_2{
      position: absolute; 
  top: 190px; 
  left: 1170px; 
  display: flex; 
  align-items: center;
  color: #0d5602; 
  font-size: 1.9ch;
  font-family: "Noto Sans Thai", sans-serif;
  z-index: 6;
  }



.time_m2{
  position: absolute; 
  top: 225px; 
  left: 1100px;
  display: flex; 
  align-items: center;
  color: #000000; 
  font-size: 1.9ch;
  font-family: "Noto Sans Thai", sans-serif;
  
}

.time_m2_2{
  position: absolute; 
  top: 225px;  
  left: 1143px;
  display: flex; 
  align-items: center;
  color: #0d5602; 
  font-size: 1.9ch;
  font-family: "Noto Sans Thai", sans-serif;
  
}

.loca_m2{
  position: absolute; 
  top: 260px; 
  left: 1100px; 
  display: flex; 
  align-items: center;
  color: #000000; 
  font-size: 1.9ch;
  font-family: "Noto Sans Thai", sans-serif;
}

.map_m2{
  position: absolute; 
  top: 300px; 
  left: 1100px; 
  display: flex; 
  align-items: center;
  color: #000000; 
  font-size: 1.9ch;
  font-family: "Noto Sans Thai", sans-serif;
}


.imgd{
  width: 10%; /* หรือขนาดที่ต้องการ */
  height: auto;
  object-fit: cover; /* ครอบคลุมพื้นที่ทั้งหมดโดยไม่บิดเบือน */
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  top: 95px; 
  left: 440px; 
  position: absolute;
  display: flex; 
  align-items: center; 
}


h1.nf {
border: 6px solid rgb(167, 0, 0);
text-align: center;
display: flex; 
justify-content: center; 
align-items: center; 
height: 400px; 
}
.nb{
margin-left: 1220px
}
.buttontime{
position: absolute; 
top: 339px;  
left: 115px; 
display: flex; 
align-items: center;
}
.buttontime2{

position: absolute; 
top: 339px;  
left: 200px; 
display: flex; 
align-items: center; 
}

.buttontime3{

position: absolute; 
top: 339px;  
left: 285px; 
display: flex; 
align-items: center; 
}

.buttontime4{

position: absolute; 
top: 500px;  
left: 115px;
display: flex; 
align-items: center; 
} 