

#a1 {
    position: absolute; 
    top: 520px; 
    left: 400px; 
    display: flex; 
    align-items: center; 
}
#a2 {
    position: absolute; 
    top: 520px; 
    left: 450px; 
    display: flex; 
    align-items: center; 
}
#a3 {
    position: absolute; 
    top: 520px;  
    left: 500px; 
    display: flex; 
    align-items: center; 
}
#a4 {
    position: absolute; 
    top: 520px; 
    left: 550px; 
    display: flex; 
    align-items: center; 
}
#a5 {
    position: absolute; 
    top: 520px;  
    left: 600px; 
    display: flex; 
    align-items: center; 
} 
#a6 {
    position: absolute; 
    top: 520px; 
    left: 700px; 
    display: flex; 
    align-items: center; 
}
#a7 {
    position: absolute; 
    top: 520px;  
    left: 750px; 
    display: flex; 
    align-items: center; 
}
#a8 {
    position: absolute; 
    top: 520px; 
    left: 800px; 
    display: flex; 
    align-items: center; 
}
#a9 {
    position: absolute; 
    top: 520px; 
    left: 850px; 
    display: flex; 
    align-items: center; 
}
#a10 {
    position: absolute; 
    top: 520px; 
    left: 900px; 
    display: flex; 
    align-items: center; 
}

.a0 {
    position: absolute; 
    top: 360px; 
    left: 550px; 
    display: flex; 
    align-items: center; 
}

.aa1 {
    position: absolute; 
    top: 362px; 
    left: 750px; 
    display: flex; 
    align-items: center; 
}



#b1 {
    position: absolute; 
    top: 570px; 
    left: 400px; 
    display: flex; 
    align-items: center; 
}
#b2 {
    position: absolute; 
    top: 570px;  
    left: 450px; 
    display: flex; 
    align-items: center; 
}
#b3 {
    position: absolute; 
    top: 570px; 
    left: 500px; 
    display: flex; 
    align-items: center; 
}
#b4 {
    position: absolute; 
    top: 570px;  
    left: 550px; 
    display: flex; 
    align-items: center; 
}
#b5 {
    position: absolute; 
    top: 570px;   
    left: 600px; 
    display: flex; 
    align-items: center; 
} 
#b6 {
    position: absolute; 
    top: 570px;  
    left: 700px; 
    display: flex; 
    align-items: center; 
}
#b7 {
    position: absolute; 
    top: 570px;   
    left: 750px; 
    display: flex; 
    align-items: center; 
}
#b8 {
    position: absolute; 
    top: 570px;  
    left: 800px; 
    display: flex; 
    align-items: center; 
}
#b9 {
    position: absolute; 
    top: 570px; 
    left: 850px; 
    display: flex; 
    align-items: center; 
}
#b10 {
    position: absolute; 
    top: 570px;
    left: 900px; 
    display: flex; 
    align-items: center; 
}


#c1 {
    position: absolute; 
    top: 620px; 
    left: 425px; 
    display: flex; 
    align-items: center; 
}

#c2 {
    position: absolute; 
    top: 620px; 
    left: 525px; 
    display: flex; 
    align-items: center; 
}

#c3 {
    position: absolute; 
    top: 620px; 
    left: 650px; 
    display: flex; 
    align-items: center; 
}

#c4 {
    position: absolute; 
    top: 620px; 
    left: 775px; 
    display: flex; 
    align-items: center; 
}

#c5 {
    position: absolute; 
    top: 620px; 
    left: 875px; 
    display: flex; 
    align-items: center; 
}